@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
  background-color: #131417;
}

:root {
  --gray-light: #afb6cd;
  --white: #fff;
  --bg-light-dark: #282831;
}

a {
  text-decoration: none;
}

.light-gray {
  color: var(--gray-light);
}

.small_fs {
  font-size: 13px;
}

nav {
  background-color: #131417;
}

.nav-link {
  color: #afb6cd !important;
}

.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.55) !important;
  border-color: rgba(255, 255, 255, 0.1);
  stroke: rgba(255, 255, 255, 0.5);
}

.navbar .navbar-toggler:focus {
  color: #ffffff;
}

.nav-link:hover {
  color: var(--white) !important;
}

.sun_moon a span {
  color: var(--gray-light);
}

.sun_moon a span:hover {
  color: var(--white);
}

.nav-cta {
  background-color: transparent;
  color: white;
  outline: none;
  border: 3px solid white;
  padding: 6px 8px;
}

.beaking {
  background-color: #282831;
}

.hero-post {
  max-height: 500px;
}

.post {
  background-color: #282831;
  opacity: 0.8;
  width: 100%;
  transition: 0.5s;
}

.post:hover {
  background-color: #131417;
  opacity: 1;
}

.post:hover p {
  color: var(--white);
}

.subscribe {
  letter-spacing: 2px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

footer {
  background-color: #252830;
}

.fb a i:hover {
  color: var(--white);
}

/* Post Page CSS */

.post_headings h1 {
  font-weight: 900;
  font-size: 40px;
}

.post_picture img {
  width: 100%;
}

.important {
  background-color: #252830 !important;
}

.author img {
  height: 230px;
  width: 100%;
  object-fit: cover;
}

.author-detail {
  background-color: #252830;
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .sun_moon {
    display: none;
  }
  .post_pic img {
    height: 150px;
    width: 100%;
  }
  .post-1 {
    margin-top: -10px !important;
    margin-left: 20px;
  }
  .post_headings h1 {
    font-size: 40px;
  }
  .nav-cta {
    display: none;
  }
}
